@import '../../styles/colors';

@mixin bg-color($color) {
  background: fade-out($color, 0.8);
  color: darken($color, 20%);
}

.primary {
  @include bg-color($primary);
}
.success {
  @include bg-color($success);
}
.warning {
  @include bg-color($warning);
}
.error {
  @include bg-color($error);
}
.info {
  @include bg-color($info);
}
.white {
  @include bg-color($white);
}
.black {
  @include bg-color($black);
}

.container {
  border-radius: 0.875rem;
  padding: 1rem 11px 0 11px;
  width: 100%;

  & > h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 28px;
    margin: 0 5px;
  }
}

.content {
  margin-top: 0.75rem;
  color: $black;
  overflow-y: auto;
  overflow-x: auto;
  height: 242px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.task {
  padding: 0.5rem;
  background: $white;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 5px 0.5rem;
  transition: margin 0.3s ease;
  cursor: pointer;

  &:hover {
    margin-right: 0px;
    margin-left: 0px;
  }

  h4 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 20px;
  }
}

.task_item__rating {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  .company {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;

    .company_circle {
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background: #c4c4c4;
    }

    h6 {
      font-size: 0.5rem;
      font-weight: 500;
      line-height: 0.625rem;
    }
  }
}
.task_item__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 0.625rem;

  .task_item__priority {
    border-radius: 3px;
    font-size: 7.5px;
    padding: 2.5px 0.25rem;
    text-transform: uppercase;
    line-height: 9px;
  }
}
