@import '../../styles/colors';
@import '../../styles/fonts';

@mixin button-color($color) {
  background: fade-out($color, 0.8);
  border-color: fade-out($color, 0.8);
  color: $color;

  svg {
    path {
      fill: $color;
    }
  }

  &:hover, *:active {
    background: fade-out($color, 0.7);
    border-color: fade-out($color, 0.7);
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $body-font-family;
  flex-wrap: wrap;
  gap: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
}

// color
.primary {
  @include button-color($primary);
}
.success {
  @include button-color($success);
}
.warning {
  @include button-color($warning);
}
.error {
  @include button-color($error);
}
.info {
  @include button-color($info);
}
.white {
  @include button-color($white);
}
.black {
  @include button-color($black);
}

// size
.medium {
  padding: 0.5rem 1rem;
  font-size: 0.625rem;
  line-height: 140%;
}
