@font-face {
  font-family: 'SF Pro Text';
  src: url('../assets/fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../assets/fonts/SFProText-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../assets/fonts/SFProText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../assets/fonts/SFProText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

$body-font-family: 'SF Pro Text', sans-serif;

$heading-font-family: $body-font-family;

$code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
